<!--
  Generated template for the CustomerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pedro Pongelupe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 *ngIf="customer.individual;else user">{{customer.individual.firstName}} {{customer.individual.lastName}}</h2>
  <ng-template #user>
    <h2>Customer</h2>
  </ng-template>
  <ion-list>
    <ion-item *ngFor="let account of customer.accounts" (click)="accountSelected($event, account)">
      <p>Balance Available {{account.availBalance | currency: 'USD'}}</p>
      <p>Opened at {{account.openDate | date: 'MM-dd-yyyy'}}</p>
    </ion-item>
  </ion-list>
</ion-content>
